body {
    background: #10224b;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 80px;
}
.team {
    background: #17325d;
    padding: 25px;
    border-radius: 12px;
    width: 220px;
}
.score {
    font-size: 70px;
    font-weight: bold;
    margin: 20px 0;
}
button {
    background: #4877ba;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 5px;
    font-size: 18px;
}
#resetBtn {
    margin-top: 40px;
    background: #ef4444;
}

